body {
    margin: 0;
    padding: 0;
    background: url(forest.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.Boxabout{
    font-size: 15px;
    width: 1000px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    color: whitesmoke;
    
    
}

.spottan{ 
    max-width: 10vh;
    float:auto;

}
.navbar {
    width: 100%;
    background: black;
    
    height: 100px;
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.box {
    
    background: black;
    
    height: 100px;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
   

}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar a {
    text-decoration: none;
    margin-left: 20px;
    
}

.menu {
    position: absolute;
    right: 100px;
    
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    transition: color 0.3s;
}

.menu a:hover {
    color: grey;
}

.menu .active {
    border-bottom: 2px solid black;
}

.navbar span {
    letter-spacing: 20px;
    font-size: 23px;
    color: white;
}

.btn {
    display: none;
    position: absolute;
    right: 20px;
}

.btn span {
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: white;
}

@media (max-width: 890px) {
    .menu {
        width: 100%;
        right: 0;
        top: 60px;
        background: #f1f1f1;
        overflow: hidden;
        max-height: 0;
    }
    .menu a {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 10px;
        margin-left: 10px;
    }
    .btn {
        display: block;
        cursor: pointer;
    }
    .show {
        max-height: 500px;
    }
    .active {
        border-bottom: none!important;
        color: black!important;
    }

    .Boxabout{
        font-size: 15px;
        
        height: 400px;
        background-color: rgba(0, 0, 0, 0.8);
        margin: auto;
        width: 80%;
        color: whitesmoke;
        padding: 30px;
        padding-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        margin-top: 10px;
        
    }


}
